<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="row" method="POST" action="/adduser" >
  <div class="mb-3 col-6">
    <label  class="form-label">First Name</label>
    <input type="text" class="form-control" name="first_name"  >
    </div>
  <div class="mb-3 col-6">
    <label  class="form-label">Last Name</label>
    <input type="password" class="form-control"  name="last_name">
  </div>
  <div class="mb-3 col">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email">
   </div>
  <div class="mb-3 col">
    <label for="exampleInputPassword1" class="form-label">Comments</label>
    <textarea class="form-control" placeholder="Leave a comment here" name="comments"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>